

/* --------visdev-------- */

.container h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding-top: 5%;
}

.big-work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10%;
    padding-bottom: 20px;
}

.big-work img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    max-width: 972.306px;
}

.flex-group{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    padding: 20px 10%;
}

.container .work-container h2 {
    display: block;
    margin: 30px;
    text-align: center;
}

.container .work-container .work{
    height: 305px;
    width: 305px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}

.container .work-container .work img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.container .work-container .work:hover img{
    transform: scale(1.05);
}

.popup-work{
    position: fixed;   /* stays in place even if scrolled; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 100;
    display:none;
}

.popup-work img{
    position: absolute;
    top: 50%; /* to center its position; */
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 850px;
    max-height: 650px;
    object-fit: cover;
    z-index: inherit;
}

.popup-work span{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: inherit;
    font-size: 30px;
}

@media (max-width:768px){
    .popup-work img{
        width: 95%;
    }

}